.gsc-comments > .gsc-comment-box:first-child {
  display: block !important;
}

.gsc-timeline {
  display: none !important;
}

.gsc-comments > .gsc-comment-box-separator {
  display: none !important;
}

.gsc-header {
  display: none !important;
}

.gsc-reactions {
  display: none !important;
}
